Repository bounswe/bounswe2023group3, pull requests merged in 2023-12, with the labels that each got.

#497 Create m2_group3.md
  reports/m2_group3.md
Labels: documentation

#504 Add approved filtering to poll entity
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/poll/repository/poll.repository.ts
Labels: enhancement, Backend, Priority: Medium

#507 be-502: Add date field to comment entity and fetch comments enpoint
  app/backend/src/comment/comment.controller.ts
  app/backend/src/comment/comment.service.ts
  app/backend/src/comment/entities/comment.entity.ts
Labels: enhancement, Backend, Priority: Medium

#506 be-503: Add fetch polls endpoint according to aprrove status
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
Labels: enhancement, Backend, Priority: Medium

#511 Add tag filtering for poll entity
  app/backend/src/comment/comment.module.ts
  app/backend/src/like/like.module.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/poll/repository/poll.repository.ts
  app/backend/src/tag/tag.module.ts
  app/backend/src/tag/tag.service.ts
Labels: enhancement, Backend, Priority: Medium

#512 Add sorting option to poll fetching
  app/backend/src/poll/enums/settle.enum.ts
  app/backend/src/poll/enums/sort.enum.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/poll/repository/poll.repository.ts
Labels: enhancement, Backend, Priority: Medium

#515 ban and report is added
  app/backend/src/app.module.ts
  app/backend/src/auth/guards/auth.guard.ts
  app/backend/src/comment/comment.module.ts
  app/backend/src/like/like.module.ts
  app/backend/src/moderator/moderator.controller.ts
  app/backend/src/moderator/moderator.module.ts
  app/backend/src/moderator/moderator.service.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/user/dto/create-report.dto.ts
  app/backend/src/user/dto/responses/get-report.response.dto.ts
  app/backend/src/user/entities/report.entity.ts
  app/backend/src/user/entities/user.entity.ts
  app/backend/src/user/user.controller.ts
  app/backend/src/user/user.module.ts
  app/backend/src/user/user.service.ts
Labels: enhancement, Backend, Priority: Medium

#554 Add annotation
  app/backend/src/annotation/annotation.controller.spec.ts
  app/backend/src/annotation/annotation.controller.ts
  app/backend/src/annotation/annotation.module.ts
  app/backend/src/annotation/annotation.service.spec.ts
  app/backend/src/annotation/annotation.service.ts
  app/backend/src/annotation/dto/create-annotation.dto.ts
  app/backend/src/annotation/entities/annotation.entity.ts
  app/backend/src/annotation/enums/annotation_type.enum.ts
  app/backend/src/app.module.ts
  app/backend/src/option/entities/option.entity.ts
  app/backend/src/poll/entities/poll.entity.ts
Labels: enhancement, Backend, Priority: Medium

#553 like/dislike mechanism added
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/services/pollViewHomePageLike.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile, Priority: Medium

#561 initial version
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/services/moderatorService.dart
  app/mobile/lib/view/moderatorApproval/moderatorSettleApproval.dart
  app/mobile/lib/view/moderatorApproval/pollData.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/moderatorHomePage/settleViewHome.dart
Labels: Mobile

#555 fix comments not showing
  app/mobile/lib/models/comment.dart
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#575 Voting mechanism implemented except connection to backend
  app/mobile/lib/services/pollViewHomePageVote.dart
Labels: enhancement, Mobile, Priority: Medium

#577 FE | Highlight for poll filter buttons
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#581 Voting mechanism forgotten parts
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/services/pollViewHomePageVote.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollView/postOptionWidget.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#584 fix build errors
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#587 add pending polls to profile page
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/profilePagePollsService.dart
  app/mobile/lib/view/pollView/postOptionWidget.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/pendingPollView.dart
  app/mobile/lib/view/profilePage/pendingPollsList.dart
  app/mobile/lib/view/profilePage/userInfoSection.dart
Labels: Mobile

#586 Be 531/annotation
  .github/annotation-server-deploy.yml
  app/annotation-server/.env.sample
  app/annotation-server/Dockerfile
  app/annotation-server/package-lock.json
  app/annotation-server/package.json
  app/annotation-server/src/app.js
  app/annotation-server/src/controllers/annotation.controller.js
  app/annotation-server/src/middlewares/validateResource.js
  app/annotation-server/src/models/annotation.model.js
  app/annotation-server/src/routes/annotation.route.js
  app/annotation-server/src/schemas/annotation.schemas.js
  app/annotation-server/src/services/annotation.service.js
  app/annotation-server/src/utils/db.js
  app/annotation-server/src/utils/swagger.js
  app/backend/src/annotation/annotation.controller.spec.ts
  app/backend/src/annotation/annotation.controller.ts
  app/backend/src/annotation/annotation.module.ts
  app/backend/src/annotation/annotation.service.spec.ts
  app/backend/src/annotation/annotation.service.ts
  app/backend/src/annotation/dto/create-annotation.dto.ts
  app/backend/src/annotation/entities/annotation.entity.ts
  app/backend/src/annotation/enums/annotation_type.enum.ts
  app/backend/src/app.module.ts
  app/backend/src/option/entities/option.entity.ts
  app/backend/src/poll/entities/poll.entity.ts
Labels: enhancement, Backend, Priority: Medium

#592 Be 531/annotation
  .github/workflows/annotation-server-deploy.yml
Labels: bug, Backend, Priority: Medium

#590 add user profile link to poll views
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/view/login/loginScreen.dart
  app/mobile/lib/view/pollView/clickableUsername.dart
  app/mobile/lib/view/pollView/userInformationWidget.dart
  app/mobile/lib/view/profilePage/profilePage.dart
  app/mobile/lib/view/sidebar/sidebar.dart
Labels: Mobile

#595 Update backend-deploy.yml
  .github/workflows/backend-deploy.yml
Labels: enhancement, Backend, Priority: Medium

#606 created an initial version of the pop-up block logic
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
Labels: Mobile

#601 edit profile
  app/mobile/assets/def_profile_photo2.jpg
  app/mobile/lib/models/profileInfo.dart
  app/mobile/lib/view/login/customTextField.dart
  app/mobile/lib/view/pollView/userInformationWidget.dart
  app/mobile/lib/view/profilePage/editProfilePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
  app/mobile/lib/view/profilePage/profilePictureWidget.dart
  app/mobile/lib/view/profilePage/userInfoSection.dart
Labels: Mobile

#607 annotation underlining and clicking is implemented
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile, Priority: Medium

#611 App 588/implement leaderboard is completed.
  app/mobile/lib/models/tag.dart
  app/mobile/lib/services/leaderboardService.dart
  app/mobile/lib/services/tagsRequestService.dart
  app/mobile/lib/services/tuple2.dart
  app/mobile/lib/view/leaderboard/leaderboardPage.dart
  app/mobile/lib/view/leaderboard/personData.dart
  app/mobile/lib/view/sidebar/sidebar.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: enhancement, Mobile, Priority: High

#582 FE | Moderator Connections and Follow Lists
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/change-password/change-password.component.html
  app/frontend/src/app/follow-list/follow-list.component.css
  app/frontend/src/app/follow-list/follow-list.component.html
  app/frontend/src/app/follow-list/follow-list.component.spec.ts
  app/frontend/src/app/follow-list/follow-list.component.ts
  app/frontend/src/app/forgetpassword/forgetpassword.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/moderator-apply/moderator-apply.component.html
  app/frontend/src/app/moderator-login/moderator-login.component.html
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.html
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/moderator-requests/moderator-requests.component.html
  app/frontend/src/app/moderator-requests/moderator-requests.component.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/report-requests/report-requests.component.html
  app/frontend/src/app/report-requests/report-requests.component.ts
  app/frontend/src/app/tag-page/tag-page.component.html
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
  app/frontend/src/app/user-profile/user.model.ts
Labels: Frontend

#608 fix profile pictures and name/surname in polls views
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/services/moderatorService.dart
Labels: Mobile

#610 profile page following follower. and epmty list of pending polls
  app/mobile/lib/models/profileInfo.dart
  app/mobile/lib/view/constants.dart
  app/mobile/lib/view/profilePage/pendingPollsList.dart
  app/mobile/lib/view/profilePage/userInfoSection.dart
Labels: Mobile

#623 FE | Implemented user vote
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/services/user-service/user.service.ts
Labels: Frontend

#645 userName->userUsername
  app/mobile/lib/view/pollView/userInformationWidget.dart
Labels: bug, Mobile

#652 Be 629/get annotations from pollids
  .github/workflows/annotation-server-deploy.yml
  app/annotation-server/.dockerignore
  app/annotation-server/src/controllers/annotation.controller.js
  app/annotation-server/src/routes/annotation.route.js
Labels: enhancement, Backend, Priority: Medium

#654 Be 650/fetch comments sorted
  app/backend/src/comment/comment.service.ts
Labels: enhancement, Backend, Priority: Medium

#655 Add update tags functionality
  app/backend/src/poll/dto/update-tags.dto.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/tag/tag.service.ts
Labels: enhancement, Backend, Priority: Medium

#659 fetching settle request accurately from the backend
  app/mobile/lib/services/moderatorService.dart
Labels: Mobile

#658 successfully fetching annotations from backend
  app/mobile/lib/services/annotationService.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#665 Be 625/vote infos on fetch polls
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/user/user.service.ts
Labels: enhancement, Backend, Priority: Medium

#663 App 662/fix widget overflows
  app/mobile/lib/view/pollView/userInformationWidget.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/sidebar/sidebar.dart
Labels: Mobile

#664 guest feed is complete
  app/mobile/android/app/build.gradle
  app/mobile/lib/main.dart
  app/mobile/lib/services/apiService.dart
  app/mobile/lib/services/guestFeedService.dart
  app/mobile/lib/view/guestFeed/guestFeed.dart
  app/mobile/lib/view/login/loginScreen.dart
  app/mobile/lib/view/moderatorLogin/moderatorLoginScreen.dart
  app/mobile/lib/view/sidebar/sidebar.dart
  app/mobile/lib/view/state.dart
  app/mobile/lib/view/welcome/welcome.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: Mobile

#671 Moderator approvePage snackBar null problem is fixed.
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
Labels: bug, Mobile, Priority: Low

#670 Moderator Application Page is implemented.
  app/mobile/lib/main.dart
  app/mobile/lib/services/moderatorApplicationService.dart
  app/mobile/lib/view/moderatorApply/customTextField.dart
  app/mobile/lib/view/moderatorApply/moderatorApplyScreen.dart
  app/mobile/lib/view/moderatorLogin/moderatorLoginScreen.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: enhancement, Mobile, Priority: High

#669 Settings page is implemented with the backend connection.
  app/mobile/lib/main.dart
  app/mobile/lib/services/accountClosingService.dart
  app/mobile/lib/services/passwordEditService.dart
  app/mobile/lib/view/forgetPassword/forgetPassInitScreen.dart
  app/mobile/lib/view/settings/customTextField.dart
  app/mobile/lib/view/settings/editPasswordPage.dart
  app/mobile/lib/view/settings/settingsPage.dart
  app/mobile/lib/view/sidebar/sidebar.dart
Labels: enhancement, Mobile, Priority: High

#677 Moderator apply screen mapping in main fix
  app/mobile/lib/main.dart
  app/mobile/lib/view/moderatorApply/moderatorApplyScreen.dart
Labels: bug, Mobile

#675 be-620: Add current user information to ranking
  app/backend/src/ranking/ranking.controller.ts
  app/backend/src/ranking/ranking.module.ts
  app/backend/src/ranking/ranking.service.ts
Labels: Backend

#678 be626: Add vote distribution to poll/id endpoint
  app/backend/src/comment/comment.module.ts
  app/backend/src/like/like.module.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/vote/vote.service.ts
Labels: Backend

#684 search functionality added
  app/mobile/lib/services/searchUserService.dart
  app/mobile/lib/view/searchPage/searchPage.dart
Labels: Mobile, Priority: Medium

#683 app-682/Edit password page connection is fixed.
  app/mobile/lib/services/passwordEditService.dart
  app/mobile/lib/view/settings/editPasswordPage.dart
  app/mobile/lib/view/settings/settingsPage.dart
Labels: Mobile, Priority: Medium

#688 home page feed and api service are fixed
  app/mobile/lib/services/apiService.dart
  app/mobile/lib/services/homePageService.dart
Labels: Mobile, Priority: Medium

#674 FE | Annotations and report from comment
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/file-upload.service.ts
  app/frontend/src/app/file-upload/file-upload.component.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.html
  app/frontend/src/app/moderator-side-bar/moderator-side-bar.component.html
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll-view/poll-view.component.ts
  app/frontend/src/app/poll/poll.component.css
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.css
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.html
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.spec.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.ts
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#691 Be 668/add pagination to fetch poll endpoint
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
Labels: enhancement, Backend, Priority: Medium

#660 FE | Semantic search for frontend implemented
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
Labels: Frontend

#697 FE | Improve edit profile and settings design
  app/frontend/src/app/file-upload/file-upload.component.css
  app/frontend/src/app/file-upload/file-upload.component.html
  app/frontend/src/app/follow-list/follow-list.component.css
  app/frontend/src/app/follow-list/follow-list.component.html
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.css
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/moderator-requests/moderator-requests.component.css
  app/frontend/src/app/moderator-requests/moderator-requests.component.html
  app/frontend/src/app/moderator-requests/moderator-requests.component.ts
  app/frontend/src/app/others-profile/others-profile.component.css
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-request/poll-request.component.css
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll-view/poll-view.component.ts
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/report-requests/report-requests.component.css
  app/frontend/src/app/report-requests/report-requests.component.html
  app/frontend/src/app/settings/settings.component.css
  app/frontend/src/app/settings/settings.component.html
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/tag-page/tag-page.component.html
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.html
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.ts
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/welcome/welcome.component.css
  app/frontend/src/app/welcome/welcome.component.html
  app/frontend/src/styles.css
Labels: Frontend

#698 FE | Completed file upload
  app/frontend/src/app/file-upload.service.ts
  app/frontend/src/app/file-upload/file-upload.component.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/poll/poll.component.ts
Labels: Frontend

#690 640 continue as guest feed
  app/mobile/lib/services/apiService.dart
  app/mobile/lib/services/guestFeedService.dart
  app/mobile/lib/view/guestFeed/guestFeed.dart
  app/mobile/lib/view/pollView/userInformationWidget.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/userInfoSection.dart
  app/mobile/lib/view/sidebar/sidebar.dart
  app/mobile/lib/view/state.dart
Labels: Mobile

#704 fixed didLike problem for guests
  app/mobile/lib/services/guestFeedService.dart
Labels: Mobile

#703 fixed ignoreEndpoint logic
  app/mobile/lib/services/apiService.dart
Labels: Mobile

#701 changed vote_count to voteCount
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/guestFeedService.dart
  app/mobile/lib/services/homePageService.dart
Labels: Mobile

#705 implement front side of the annotation creation
  app/mobile/lib/main.dart
  app/mobile/lib/models/annotation.dart
  app/mobile/lib/models/pollCreationData.dart
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/services/pollRequestService.dart
  app/mobile/lib/view/pollRequest/customContainer.dart
  app/mobile/lib/view/pollRequest/pollCreationAnnotate.dart
  app/mobile/lib/view/pollRequest/pollRequestScreen.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#706 fix firstname lastname field in clickableusername
  app/mobile/lib/view/pollView/clickableUsername.dart
  app/mobile/lib/view/pollView/userInformationWidget.dart
Labels: bug, Mobile

#707 app-631/Bugs are fixed, new features are added and connected to the backend.
  app/mobile/lib/services/leaderboardService.dart
  app/mobile/lib/view/leaderboard/leaderboardPage.dart
  app/mobile/lib/view/leaderboard/personData.dart
Labels: bug, enhancement, Mobile, Priority: Medium

#708 sorting the annotations according to start indices
  app/mobile/lib/services/guestFeedService.dart
  app/mobile/lib/services/homePageService.dart
Labels: Mobile

#709 Update poll.controller.ts
  app/backend/src/poll/poll.controller.ts
Labels: bug, Backend, Priority: High

#711 fixed the loading screen
  app/mobile/lib/view/guestFeed/guestFeed.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/leaderboard/leaderboardPage.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/profilePage/editProfilePage.dart
  app/mobile/lib/view/profilePage/pendingPollsList.dart
  app/mobile/lib/view/profilePage/profilePage.dart
  app/mobile/lib/view/waitingScreen/fancyWaitingScreen.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: Mobile

#716 app-710/Close account endpoint is connected to the app.
  app/mobile/lib/services/accountClosingService.dart
  app/mobile/lib/view/settings/editPasswordPage.dart
  app/mobile/lib/view/settings/settingsPage.dart
Labels: Mobile, Priority: Medium

#718 added due date and fixed color
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorHomePage/requestViewHome.dart
  app/mobile/lib/view/pollView/pollView.dart
Labels: Mobile

#719 app-717/Verify email extra field is deleted.
  app/mobile/lib/main.dart
  app/mobile/lib/services/signuser.dart
  app/mobile/lib/view/signup/customTextField.dart
  app/mobile/lib/view/signup/signVerifyScreen.dart
  app/mobile/lib/view/signup/signupScreen.dart
Labels: enhancement, Mobile

#715 FE | Fixed some issues
  app/frontend/src/app/file-upload/file-upload.component.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.css
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.html
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.ts
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.ts
Labels: Frontend

#720 714 remove redundant text field from poll creation request screen
  app/mobile/lib/models/pollCreationData.dart
  app/mobile/lib/services/pollRequestService.dart
  app/mobile/lib/view/pollRequest/customTextField.dart
  app/mobile/lib/view/pollRequest/pollCreationAnnotate.dart
  app/mobile/lib/view/pollRequest/pollRequestScreen.dart
Labels: Mobile

#723 added feedback to moderator approval screen
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/view/helpers/dateTime.dart
  app/mobile/lib/view/helpers/tag.dart
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorHomePage/requestViewHome.dart
  app/mobile/lib/view/moderatorHomePage/settleViewHome.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/pendingPollView.dart
Labels: Mobile

#722 fixed loading screen overflow in some widgets
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/profilePage/editProfilePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#726 fix name overflow
  app/mobile/lib/view/pollView/userInformationWidget.dart
  app/mobile/lib/view/profilePage/userInfoSection.dart
Labels: Mobile

#727 search functionality fully implemented
  app/mobile/lib/view/searchPage/searchPage.dart
Labels: Mobile, Priority: Medium

#728 fetch annotations for profile page
  app/mobile/lib/models/annotation.dart
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/profilePagePollsService.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#730 648 improve outcome settle request styling
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/badges-bar/badges-bar.component.css
  app/frontend/src/app/delete-confirmation/delete-confirmation.component.css
  app/frontend/src/app/delete-confirmation/delete-confirmation.component.html
  app/frontend/src/app/delete-confirmation/delete-confirmation.component.spec.ts
  app/frontend/src/app/delete-confirmation/delete-confirmation.component.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/settings/settings.component.html
  app/frontend/src/app/settings/settings.component.ts
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.css
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.html
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.ts
  app/frontend/src/app/user-settle-request/user-settle-request.component.css
  app/frontend/src/app/user-settle-request/user-settle-request.component.html
  app/frontend/src/app/user-settle-request/user-settle-request.component.ts
Labels: Frontend

#724 FE | Fixed annotation design
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.css
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.html
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.ts
Labels: Frontend

#732 fixed the problem with /poll endpoint
  app/mobile/lib/services/apiService.dart
Labels: Mobile

#729 FE | Implemented progress bar for vote
  app/frontend/angular.json
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.html
  app/frontend/src/app/settled-poll/settled-poll.component.html
  app/frontend/src/app/settled-poll/settled-poll.component.ts
  app/frontend/src/index.html
  app/frontend/src/styles.css
Labels: Frontend

#735 FE | Added global leaderboard.
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/leaderboard-bar/leaderboard-bar.component.html
  app/frontend/src/app/leaderboard-bar/leaderboard-bar.component.ts
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.html
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.ts
  app/frontend/src/app/tag-page/tag-page.component.html
  app/frontend/src/app/tag-page/tag-page.component.ts
Labels: Frontend

#744 Extend poll functionalities
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
Labels: bug, Backend, Priority: Medium

#739 annotation added to poll pages
  app/mobile/lib/view/guestFeed/guestFeed.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile

#749 be-743: Endpoint for fetching my-rankings added
  app/backend/src/ranking/ranking.controller.ts
  app/backend/src/ranking/ranking.service.ts
Labels: enhancement, Backend

#757 Add query parameter to not-voted-by-me endpoint
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
Labels: enhancement, Backend, Priority: Medium

#760 Update poll.service.ts
  app/backend/src/poll/poll.service.ts
Labels: enhancement, Backend, Priority: Medium

#753 modifications on comment widget
  app/mobile/lib/models/comment.dart
  app/mobile/lib/services/ReportService.dart
  app/mobile/lib/services/createCommentService.dart
  app/mobile/lib/view/login/loginScreen.dart
  app/mobile/lib/view/pollView/commentWidget.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/state.dart
Labels: Mobile

#737 FE | Completing leaderboard and adding rankings
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/tag-page/tag-page.component.ts
  app/frontend/src/app/tags-bar/tags-bar.component.html
  app/frontend/src/app/tags-bar/tags-bar.component.ts
Labels: Frontend

#761 Hopefully search is fixed
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/poll/poll.service.ts
Labels: enhancement, Backend, Priority: Medium

#764 add typeaheadfield and tag completion logic for tag input in poll creation
  app/mobile/lib/services/pollRequestService.dart
  app/mobile/lib/view/pollRequest/pollRequestScreen.dart
Labels: Mobile

#767 change endpoint, improve visual
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/pollRequestService.dart
  app/mobile/lib/services/profilePagePollsService.dart
  app/mobile/lib/view/profilePage/pendingPollView.dart
Labels: Mobile

#768 color and visual improvement
  app/mobile/lib/services/guestFeedService.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/services/moderatorService.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
Labels: Mobile

#776 fixed the problem with outcome option
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/view/moderatorApproval/moderatorSettleApproval.dart
Labels: Mobile

#762 FE | Added rankings
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.ts
  app/frontend/src/app/user-profile/user-profile.component.html
Labels: Frontend

#777 fixed imege_urls field in POST poll and fetch it for moderator home page
  app/mobile/lib/models/pollInfo.dart
  app/mobile/lib/services/moderatorService.dart
  app/mobile/lib/services/pollRequestService.dart
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorApproval/moderatorSettleApproval.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/moderatorHomePage/requestViewHome.dart
  app/mobile/lib/view/moderatorHomePage/settleViewHome.dart
Labels: Mobile

#779 734 design improvements before the final milestone
  app/frontend/src/app/confirm-model/confirm-model.component.css
  app/frontend/src/app/confirm-model/confirm-model.component.html
  app/frontend/src/app/confirm-model/confirm-model.component.ts
  app/frontend/src/app/delete-confirmation/delete-confirmation.component.css
  app/frontend/src/app/file-upload/file-upload.component.css
  app/frontend/src/app/file-upload/file-upload.component.html
  app/frontend/src/app/follow-list/follow-list.component.css
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.html
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/moderator-requests/moderator-requests.component.css
  app/frontend/src/app/moderator-requests/moderator-requests.component.html
  app/frontend/src/app/moderator-requests/moderator-requests.component.ts
  app/frontend/src/app/others-profile/others-profile.component.css
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-view/poll-view.component.css
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll-view/poll-view.component.ts
  app/frontend/src/app/poll/poll.component.css
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.css
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.html
  app/frontend/src/app/qtext-annotation/qtext-annotation.component.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.ts
  app/frontend/src/app/report-requests/report-requests.component.css
  app/frontend/src/app/report-requests/report-requests.component.html
  app/frontend/src/app/report-requests/report-requests.component.ts
  app/frontend/src/app/report-user/report-user.component.css
  app/frontend/src/app/report-user/report-user.component.html
  app/frontend/src/app/settled-poll/settled-poll.component.css
  app/frontend/src/app/settled-poll/settled-poll.component.html
  app/frontend/src/app/settled-poll/settled-poll.component.ts
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/side-bar/side-bar.component.ts
  app/frontend/src/app/tag-page/tag-page.component.css
  app/frontend/src/app/tag-page/tag-page.component.html
  app/frontend/src/app/tags-bar/tags-bar.component.ts
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.css
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.html
  app/frontend/src/app/user-pending-requests/user-pending-requests.component.ts
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
  app/frontend/src/app/user-settle-request/user-settle-request.component.css
  app/frontend/src/app/user-settle-request/user-settle-request.component.html
Labels: Frontend

#780 FE | Fixed error
  app/frontend/src/app/settled-poll/settled-poll.component.ts
Labels: Frontend

#782 fixed annotaion overlapping index error
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
Labels: Mobile

#783 if start/end index is 0, post 1
  app/mobile/lib/services/pollRequestService.dart
Labels: Mobile

#786 change the endpoint of the poll fetching service
  app/mobile/lib/services/profilePagePollsService.dart
Labels: Mobile

#793 vote functionality is fixed.
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollView/postOptionWidget.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
Labels: bug, Mobile

#795 Image fix
  app/mobile/lib/services/guestFeedService.dart
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/guestFeed/guestFeed.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile
