Repository bounswe/bounswe2023group3, pull requests merged in 2023-10, with the labels that each got.

#160 FE/Side Bar
  app/frontend/src/app/app.component.html
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/side-bar/side-bar.component.css
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/side-bar/side-bar.component.spec.ts
  app/frontend/src/app/side-bar/side-bar.component.ts
Labels: Frontend

#162 rank and badge bars, user profile page
  app/frontend/src/app/app-component-default-page.txt
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.component.html
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/badges-bar/badges-bar.component.css
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/badges-bar/badges-bar.component.spec.ts
  app/frontend/src/app/badges-bar/badges-bar.component.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.css
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.spec.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.ts
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.spec.ts
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#185 reformatted the code
  app/mobile/lib/services/authService.dart
  app/mobile/lib/services/signuser.dart
  app/mobile/lib/view/login/customTextField.dart
  app/mobile/lib/view/login/loginScreen.dart
  app/mobile/lib/view/signup/signupScreen.dart
  app/mobile/lib/view/welcome/welcome.dart
Labels: Mobile

#212 Update frontend README.md
  app/frontend/README.md
Labels: Frontend

#213 194-app/poll-creation-page completed.
  app/mobile/lib/services/tagCompletionService.dart
  app/mobile/lib/view/pollRequest/customTextField.dart
  app/mobile/lib/view/pollRequest/pollCreationData.dart
  app/mobile/lib/view/pollRequest/pollRequestDemo.dart
  app/mobile/lib/view/pollRequest/pollRequestScreen.dart
  app/mobile/lib/view/pollRequest/sectionHeader.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: Mobile

#214 FE | User profile improvements
  app/frontend/src/app/app.component.html
  app/frontend/src/app/badges-bar/badges-bar.component.css
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.css
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/side-bar/side-bar.component.css
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
Labels: Frontend

#220 Fe 146/implement a welcome page
  .DS_Store
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.component.html
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/forgetpassword/forgetpassword.component.css
  app/frontend/src/app/forgetpassword/forgetpassword.component.html
  app/frontend/src/app/forgetpassword/forgetpassword.component.spec.ts
  app/frontend/src/app/forgetpassword/forgetpassword.component.ts
  app/frontend/src/app/login/login.component.css
  app/frontend/src/app/login/login.component.html
  app/frontend/src/app/login/login.component.spec.ts
  app/frontend/src/app/login/login.component.ts
  app/frontend/src/app/register/register.component.css
  app/frontend/src/app/register/register.component.html
  app/frontend/src/app/register/register.component.spec.ts
  app/frontend/src/app/register/register.component.ts
  app/frontend/src/app/welcome/welcome.component.css
  app/frontend/src/app/welcome/welcome.component.html
  app/frontend/src/app/welcome/welcome.component.spec.ts
  app/frontend/src/app/welcome/welcome.component.ts
  app/package-lock.json
  practice-app/predictionPoll/.DS_Store
Labels: Frontend

#231 App 203/create poll view page
  app/mobile/lib/view/pollView/commentWidget.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollView/postOptionWidget.dart
  app/mobile/lib/view/pollView/tagWidget.dart
  app/mobile/lib/view/pollView/userInformationWidget.dart
Labels: Mobile

#238 FE | Fixing minor errors
  app/frontend/angular.json
  app/frontend/src/app/app.module.ts
Labels: Frontend

#241 added logout, updated poll creation route
  app/mobile/lib/main.dart
  app/mobile/lib/services/apiService.dart
  app/mobile/lib/view/sidebar/sidebar.dart
Labels: Mobile

#243 FE | Poll view and icons included
  .vscode/settings.json
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/welcome/welcome.component.html
  app/frontend/src/assets/badge-icon.png
  app/frontend/src/assets/connect-icon.png
  app/frontend/src/assets/participate-icon.png
  app/frontend/src/assets/poll1.jpeg
  app/frontend/src/assets/poll2.jpeg
  app/frontend/src/assets/settled-icon.png
Labels: Frontend

#246 FE | connect frontend to backend
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/forgetpassword/forgetpassword.component.html
  app/frontend/src/app/forgetpassword/forgetpassword.component.ts
  app/frontend/src/app/login/login.component.html
  app/frontend/src/app/login/login.component.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/register/register.component.html
  app/frontend/src/app/register/register.component.ts
  app/frontend/src/app/tags-bar/tags-bar.component.html
  app/frontend/src/environments/environment.ts
  app/frontend/src/services/user-service/models.ts
  app/frontend/src/services/user-service/user.service.spec.ts
  app/frontend/src/services/user-service/user.service.ts
Labels: Frontend

#245 FE | additional improvements before milestone 1
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/user-profile/user-profile.component.html
Labels: Frontend

#247 created a poll request page
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/poll-request/create-poll-dto.model.ts
  app/frontend/src/app/poll-request/poll-request.component.css
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.spec.ts
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/side-bar/side-bar.component.html
Labels: Frontend

#248 FE| Updated the design of the poll request page.
  app/frontend/src/app/poll-request/poll-request.component.css
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.ts
Labels: Frontend

#250 App 193-196/password verification and new password pages
  app/mobile/lib/main.dart
  app/mobile/lib/services/emailVerification.dart
  app/mobile/lib/services/passwordResetVerification.dart
  app/mobile/lib/services/signuser.dart
  app/mobile/lib/view/forgetPassword/customTextField.dart
  app/mobile/lib/view/forgetPassword/forgetPassInitScreen.dart
  app/mobile/lib/view/forgetPassword/forgetPassVerifyScreen.dart
  app/mobile/lib/view/welcome/welcome.dart
Labels: enhancement, Mobile, Priority: High

#251 App 197/verify email
  app/mobile/lib/main.dart
  app/mobile/lib/services/signUpVerification.dart
  app/mobile/lib/view/login/loginScreen.dart
  app/mobile/lib/view/signup/signVerifyScreen.dart
  app/mobile/lib/view/signup/signupScreen.dart
Labels: enhancement, Mobile, Priority: High

#253 Title is added.
  app/mobile/lib/view/welcome/welcome.dart
Labels: Mobile, Priority: Medium

#260 adjusted color palette
  app/mobile/lib/main.dart
  app/mobile/lib/view/constants.dart
  app/mobile/lib/view/forgetPassword/customTextField.dart
  app/mobile/lib/view/login/customTextField.dart
  app/mobile/lib/view/login/loginScreen.dart
  app/mobile/lib/view/pollRequest/customTextField.dart
  app/mobile/lib/view/pollRequest/pollRequestScreen.dart
  app/mobile/lib/view/pollRequest/sectionHeader.dart
  app/mobile/lib/view/pollView/commentWidget.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/sidebar/sidebar.dart
  app/mobile/lib/view/signup/signupScreen.dart
  app/mobile/lib/view/welcome/welcome.dart
Labels: Mobile, Priority: Medium

#262 AndroidManifest.xml is edited.
  app/mobile/android/app/src/main/AndroidManifest.xml
Labels: bug, Mobile

#268 Password reset is connected.
  app/mobile/lib/main.dart
  app/mobile/lib/services/passwordResetVerification.dart
  app/mobile/lib/view/forgetPassword/forgetPassInitScreen.dart
  app/mobile/lib/view/forgetPassword/forgetPassVerifyScreen.dart
Labels: enhancement, Mobile, Priority: High
