Repository bounswe/bounswe2023group3, pull requests merged in 2023-11, with the labels that each got.

#272 Fe/254 improving the visual experience of the frontend
  app/frontend/src/app/poll-request/poll-request.component.html
Labels: Frontend

#297 FE | Added poll component
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/poll/poll.component.css
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.spec.ts
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
Labels: Frontend

#309 inital moderator home screen
  app/mobile/lib/main.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/moderatorHomePage/requestViewHome.dart
Labels: Mobile

#314 moderator approval screen is implemented.
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/view/moderatorApproval/demo.dart
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorApproval/pollData.dart
  app/mobile/lib/view/moderatorApproval/readOnlyTextField.dart
  app/mobile/lib/view/moderatorApproval/sectionHeader.dart
Labels: enhancement, Mobile, Priority: Medium

#320 changed contents of sidebar for moderators
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/sidebar/sidebar.dart
  app/mobile/lib/view/state.dart
Labels: Mobile

#332 Fe | 277 Poll View Page and Overall Design Improvements
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/badges-bar/badges-bar.component.css
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/forgetpassword/forgetpassword.component.ts
  app/frontend/src/app/header/header.component.css
  app/frontend/src/app/header/header.component.html
  app/frontend/src/app/header/header.component.spec.ts
  app/frontend/src/app/header/header.component.ts
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/leaderboard-bar/leaderboard-bar.component.css
  app/frontend/src/app/leaderboard-bar/leaderboard-bar.component.html
  app/frontend/src/app/login/login.component.css
  app/frontend/src/app/login/login.component.html
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/poll-request/poll-request.component.css
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-view/poll-view.component.css
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll-view/poll-view.component.spec.ts
  app/frontend/src/app/poll-view/poll-view.component.ts
  app/frontend/src/app/poll/poll.component.css
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/ranks-bar/ranks-bar.component.css
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/register/register.component.css
  app/frontend/src/app/register/register.component.html
  app/frontend/src/app/resetpassword.service.ts
  app/frontend/src/app/resetpassword/resetpassword.component.css
  app/frontend/src/app/resetpassword/resetpassword.component.html
  app/frontend/src/app/resetpassword/resetpassword.component.ts
  app/frontend/src/app/side-bar/side-bar.component.css
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/tags-bar/tags-bar.component.css
  app/frontend/src/app/tags-bar/tags-bar.component.html
  app/frontend/src/app/user-profile/user-profile.component.css
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/styles.css
Labels: Frontend

#339 Lab Report - added PR link
  reports/lab_report_6.md
Labels: documentation

#342 FE | Poll Lists
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/authorize.guard.spec.ts
  app/frontend/src/app/authorize.guard.ts
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/header/header.component.css
  app/frontend/src/app/header/header.component.html
  app/frontend/src/app/header/header.component.spec.ts
  app/frontend/src/app/header/header.component.ts
  app/frontend/src/app/home/home.component.css
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/leaderboard-bar/leaderboard-bar.component.html
  app/frontend/src/app/login/login.component.ts
  app/frontend/src/app/others-profile/others-profile.component.css
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-request/poll-request.component.css
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/poll-view/poll-view.component.css
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll-view/poll-view.component.spec.ts
  app/frontend/src/app/poll-view/poll-view.component.ts
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/ranks-bar/ranks-bar.component.html
  app/frontend/src/app/register/register.component.css
  app/frontend/src/app/resetpassword/resetpassword.component.html
  app/frontend/src/app/resetpassword/resetpassword.component.ts
  app/frontend/src/app/side-bar/side-bar.component.css
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#343 FE | Corrected poll creation request
  app/frontend/src/app/poll-request/poll-request.component.html
Labels: Frontend

#346 Enhance swagger documentation
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/moderator/moderator.controller.ts
  app/backend/src/option/option.controller.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/tag/tag.controller.ts
  app/backend/src/user/user.controller.ts
Labels: documentation, Backend, Priority: Medium

#349 Add query options for fetch poll request
  app/backend/src/app.module.ts
  app/backend/src/auth/dto/reset-password.dto.ts
  app/backend/src/auth/guards/auth.guard.ts
  app/backend/src/auth/guards/verification.guard.ts
  app/backend/src/option/dto/create-option.dto.ts
  app/backend/src/option/entities/option.entity.ts
  app/backend/src/option/option.service.ts
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.controller.spec.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/poll/repository/poll.repository.ts
  app/backend/src/tag/dto/create-tag.dto.ts
  app/backend/src/tag/entities/tag.entity.ts
  app/backend/src/tag/tag.service.ts
  app/backend/src/user/dto/create-user.dto.ts
  app/backend/src/user/entities/user.entity.ts
  app/backend/src/user/user.controller.spec.ts
  app/backend/src/user/user.controller.ts
  app/backend/src/user/user.service.ts
Labels: enhancement, Backend, Priority: Medium

#352 hot-fix
  app/backend/src/poll/poll.controller.ts
Labels: bug, Backend, Priority: High

#355 moderator approval text updated.
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorApproval/readOnlyTextField.dart
Labels: Mobile

#358 moderator approval connection to backend is implemented.
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
Labels: Mobile, Priority: Medium

#361 connected the moderator homepage to the backend
  app/mobile/lib/services/apiService.dart
  app/mobile/lib/services/moderatorService.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/moderatorHomePage/requestViewHome.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: Mobile

#400 Fe | Implement data connections
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/user-profile/user.model.ts
  app/frontend/src/environments/environment.ts
  app/frontend/src/services/user-service/user.service.ts
Labels: Frontend

#402 FE | Implemented "created" poll filter and added prettier
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/authorize.guard.ts
  app/frontend/src/app/home/home.component.html
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/login/login.component.ts
  app/frontend/src/app/moderator-requests/moderator-requests.component.css
  app/frontend/src/app/moderator-requests/moderator-requests.component.html
  app/frontend/src/app/moderator-requests/moderator-requests.component.spec.ts
  app/frontend/src/app/moderator-requests/moderator-requests.component.ts
  app/frontend/src/app/moderator-side-bar/moderator-side-bar.component.css
  app/frontend/src/app/moderator-side-bar/moderator-side-bar.component.spec.ts
  app/frontend/src/app/moderator-side-bar/moderator-side-bar.component.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/poll/poll.component.css
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/resetpassword/resetpassword.component.ts
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/side-bar/side-bar.component.ts
  app/frontend/src/app/tag-page/tag-page.component.css
  app/frontend/src/app/tag-page/tag-page.component.html
  app/frontend/src/app/tag-page/tag-page.component.spec.ts
  app/frontend/src/app/tag-page/tag-page.component.ts
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
  app/frontend/src/services/user-service/user.service.ts
Labels: Frontend

#404 FE | Fixed going to own profile from poll
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll/poll.component.ts
Labels: Frontend

#405 FE | implement user connections
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/side-bar/side-bar.component.html
  app/frontend/src/app/side-bar/side-bar.component.ts
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#410 homepage post fetching done
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
Labels: Mobile, Priority: High

#409 FE | Added unit tests
  app/frontend/src/app/app.component.spec.ts
  app/frontend/src/app/authorize.guard.spec.ts
  app/frontend/src/app/home/home.component.spec.ts
  app/frontend/src/app/poll-request/poll-request.component.spec.ts
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/resetpassword/resetpassword.component.spec.ts
Labels: Frontend, testing

#416 added necessary backend connections and modified code accordingly
  app/mobile/lib/main.dart
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/services/moderatorService.dart
  app/mobile/lib/view/moderatorApproval/demo.dart
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorApproval/pollData.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
  app/mobile/lib/view/moderatorHomePage/requestViewHome.dart
Labels: Mobile

#423 Be 397/extending filtering options for poll
  app/backend/src/like/like.controller.ts
  app/backend/src/like/like.module.ts
  app/backend/src/like/like.service.ts
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/poll/repository/poll.repository.ts
Labels: enhancement, Backend, Priority: High

#424 Be/hot fix
  app/backend/src/auth/dto/create-user.dto.ts
  app/backend/src/auth/dto/responses/login-response.dto.ts
  app/backend/src/auth/dto/responses/register-response.dto.ts
  app/backend/src/poll/dto/create-poll.dto.ts
  app/backend/src/poll/dto/responses/get-poll-response.dto.ts
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/user/dto/create-user.dto.ts
  app/backend/src/user/entities/user.entity.ts
  app/backend/src/user/user.service.ts
  package-lock.json
Labels: bug, Backend, Priority: Medium

#429 Moderator approval is connected to flow of the app.
  app/mobile/lib/services/moderatorPollDecision.dart
  app/mobile/lib/view/moderatorApproval/moderatorApprovalScreen.dart
  app/mobile/lib/view/moderatorApproval/pollData.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
Labels: Mobile, Priority: High

#426 Be 389/add comment functionality
  app/backend/src/app.module.ts
  app/backend/src/comment/comment.controller.spec.ts
  app/backend/src/comment/comment.controller.ts
  app/backend/src/comment/comment.module.ts
  app/backend/src/comment/comment.service.spec.ts
  app/backend/src/comment/comment.service.ts
  app/backend/src/comment/dto/create-comment.dto.ts
  app/backend/src/comment/dto/responses/fetchComment.dto.ts
  app/backend/src/comment/entities/comment.entity.ts
  app/backend/src/like/entities/like.entity.ts
  app/backend/src/like/like.module.ts
  app/backend/src/like/like.service.ts
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.module.ts
  app/backend/src/user/entities/user.entity.ts
Labels: enhancement, Backend, Priority: Medium

#431 Change get poll like num logic
  app/backend/src/like/like.controller.ts
  app/backend/src/like/like.module.ts
  app/backend/src/like/like.service.ts
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/repository/poll.repository.ts
Labels: bug, Backend, Priority: Medium

#425 FE | Added Badges connection and Following Filter
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/badges-bar/badges-bar.component.ts
  app/frontend/src/app/home/home.component.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll/poll.component.html
  app/frontend/src/app/poll/poll.component.ts
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#436 Fix likeCount type
  app/backend/src/poll/repository/poll.repository.ts
Labels: bug, Backend, Priority: Medium

#432 Add comment count filtering for polls
  app/backend/src/poll/entities/poll.entity.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/poll/repository/poll.repository.ts
Labels: enhancement, Backend, Priority: Medium

#442 settled tab added
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile, Priority: Medium

#444 FE |Implemented follow function
  app/frontend/src/app/auth.service.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/user-profile/user-profile.component.html
  app/frontend/src/app/user-profile/user-profile.component.ts
  app/frontend/src/app/user-profile/user.model.ts
  app/frontend/src/services/user-service/user.service.ts
Labels: Frontend

#446 Fixes in home page and moderator login are done. Extra api class is deleted.
  app/mobile/lib/services/apiService.dart
  app/mobile/lib/services/moderatorApiService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/moderatorLogin/moderatorLoginScreen.dart
Labels: bug, Mobile, Priority: High

#440 FE | Added poll commenting and fixed "liked" filter
  app/frontend/src/app/authorize.guard.ts
  app/frontend/src/app/badges-bar/badges-bar.component.css
  app/frontend/src/app/badges-bar/badges-bar.component.html
  app/frontend/src/app/login/login.component.ts
  app/frontend/src/app/moderator-authorize.guard.spec.ts
  app/frontend/src/app/others-profile/others-profile.component.html
  app/frontend/src/app/others-profile/others-profile.component.ts
  app/frontend/src/app/poll-request/poll-request.component.html
  app/frontend/src/app/poll-request/poll-request.component.ts
  app/frontend/src/app/poll-view/poll-view.component.html
  app/frontend/src/app/poll-view/poll-view.component.ts
  app/frontend/src/app/user-profile/user-profile.component.ts
Labels: Frontend

#451 approved filter is implemented
  app/mobile/lib/services/homePageService.dart
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: Mobile, Priority: Medium

#459 added onPressed action to the custom error widget
  app/mobile/lib/view/errorWidget/errorWidget.dart
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
Labels: Mobile

#461 three dots problem in settle is fixed.
  app/mobile/lib/view/homePage/homePage.dart
  app/mobile/lib/view/pollView/pollView.dart
  app/mobile/lib/view/pollView/userInformationWidget.dart
  app/mobile/lib/view/pollViewHomePage/pollViewHomePage.dart
  app/mobile/lib/view/profilePage/profilePage.dart
Labels: bug, Mobile, Priority: Medium

#473 added comment submission
  app/mobile/lib/services/createCommentService.dart
  app/mobile/lib/view/pollView/pollView.dart
Labels: Mobile

#471 like function implemented
  app/mobile/lib/view/pollView/pollView.dart
Labels: Mobile, Priority: Medium

#477 Quickfix
  app/mobile/lib/view/pollView/pollView.dart
Labels: Mobile

#478 Be 393/unit tests for poll
  app/backend/package-lock.json
  app/backend/package.json
  app/backend/src/app.controller.spec.ts
  app/backend/src/auth/dto/create-user.dto.ts
  app/backend/src/moderator/moderator.service.ts
  app/backend/src/poll/poll.controller.ts
  app/backend/src/poll/poll.service.ts
  app/backend/src/user/dto/create-user.dto.ts
Labels: enhancement, Backend, Priority: Medium

#479 verification and moderator poll review pages added
  app/frontend/src/app/app-routing.module.ts
  app/frontend/src/app/app.module.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.css
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.html
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.spec.ts
  app/frontend/src/app/moderator-poll-review/moderator-poll-review.component.ts
  app/frontend/src/app/verification/verification.component.css
  app/frontend/src/app/verification/verification.component.html
  app/frontend/src/app/verification/verification.component.spec.ts
  app/frontend/src/app/verification/verification.component.ts
Labels: Frontend

#481 Add moderator tests
  app/backend/src/app.controller.spec.ts
Labels: enhancement, Backend, Priority: Medium

#487 fixed error
  app/mobile/lib/view/moderatorHomePage/moderatorHomePage.dart
Labels: Mobile
